.paragraf {
    color: rgba(142, 149, 169, 1);
    line-height: 24px;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
    width: 588px;
    margin-top: -45px;
    margin-bottom: 45px;
}