.navmenu {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background: rgba(18, 24, 41, 0.8);
}
.navmenu-wrapper{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.navmenu-wrapper a{
    text-decoration: none;
}

.navmenu-search{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 1) ;
}
.navmenu-films{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(168, 174, 191, 1);
}
.navmenu-reg{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(168, 174, 191, 1);
    display: flex;
    gap: 8px;
}