.header {
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    color:  rgba(235, 238, 245, 1);
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
    /* background-color:  rgba(18, 24, 41, 1); */
      
}

